<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Things To Do</title>
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link href="animations.css" rel="stylesheet">
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="angular-resource.js"></script>
  <script type="text/javascript" src="todo.js"></script>
  <script src="../lib/binder.js"></script>
  <script src="../lib/binderTypes.js"></script>
  <script src="../lib/deltaFactory.js"></script>
  <script src="../lib/modelWriter.js"></script>
  <script src="../lib/observer.js"></script>
  <script src="../lib/syncEvents.js"></script>
  <script src="observe.js"></script>
  <script type='text/javascript' src='https://cdn.firebase.com/v0/firebase.js'></script>

  <style type="text/css">
    .todo {
      max-width: 250px;
      height: auto;
    }
    .todo a {
      cursor: pointer;
    }
    .done-true {
      color: gray;
      text-decoration: line-through;
    }
  </style>
</head>
<body ng-app="todo" ng-controller="App" class="well">

<h1>Things To Do</h1>

<p>
  Remaining <strong>{{remaining()}}</strong> of <strong>{{items.length}}</strong>.
  [ <a href ng-click="archive()">archive</a> ]
</p>

<ul class="unstyled">
  <li ng-repeat="item in items | orderBy:'text'" ng-class="'done-'+item.done" class="todo" ng-animate="'repeat'">
    <input type="checkbox" ng-model="item.done" ng-change="item.$update()">
    <span ng-bind="item.text"></span>

  </li>
</ul>

<form>
  <input type="text" ng-model="newText">
  <button ng-disabled="!newText" ng-click="add()" class="btn btn-primary">add</button>
</form>

</body>
</html>
